/* Grundläggande layout */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #007BFF;
  cursor: pointer;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.set-timer {
  margin-top: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
/* src/App.css */
.App {
  text-align: center;
}

button {
  padding: 10px;
  margin-top: 20px;
  font-size: 1em;
}
